@model  List<Product>
@{
    ViewData["Title"] = "WomanView";
}

    <div class="row">
        <div class="span12">
            <h4 class="title">
                <span class="pull-left"><span class="text"><span class="line">Latest Female <strong>Products</strong></span></span></span>
                <span class="pull-right">
                    <a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
                </span>
            </h4>
            <div id="myCarousel-2" class="myCarousel carousel slide">
                <div class="carousel-inner">
                    <div class="active item">
                        <ul class="thumbnails">
                            <li class="span3">
                                <div class="product-box">
                                    <span class="sale_tag"></span>
                                    <p><a href="product_detail.html"><img src="~/images/zenska1.jpg" alt="" /></a></p>
                                    <a href="product_detail.html" class="title">Ut wisi enim ad</a><br />
                                    <a href="products.html" class="category">Commodo consequat</a>
                                    <p class="price">$25.50</p>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="product-box">
                                    <p><a href="product_detail.html"><img src="~/images/zenska2.jpg" alt="" /></a></p>
                                    <a href="product_detail.html" class="title">Quis nostrud exerci tation</a><br />
                                    <a href="products.html" class="category">Quis nostrud</a>
                                    <p class="price">$17.55</p>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="product-box">
                                    <p><a href="product_detail.html"><img src="~/images/zenska3.jpg" alt="" /></a></p>
                                    <a href="product_detail.html" class="title">Know exactly turned</a><br />
                                    <a href="products.html" class="category">Quis nostrud</a>
                                    <p class="price">$25.30</p>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="product-box">
                                    <p><a href="product_detail.html"><img src="~/images/zenska8.jpg" alt="" /></a></p>
                                    <a href="product_detail.html" class="title">You think fast</a><br />
                                    <a href="products.html" class="category">World once</a>
                                    <p class="price">$25.60</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="item">
                        <ul class="thumbnails">
                            <li class="span3">
                                <div class="product-box">
                                    <p><a href="product_detail.html"><img src="~/images/zenska4.jpg" alt="" /></a></p>
                                    <a href="product_detail.html" class="title">Know exactly</a><br />
                                    <a href="products.html" class="category">Quis nostrud</a>
                                    <p class="price">$45.50</p>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="product-box">
                                    <p><a href="product_detail.html"><img src="~/images/zenska5.jpg" alt="" /></a></p>
                                    <a href="product_detail.html" class="title">Ut wisi enim ad</a><br />
                                    <a href="products.html" class="category">Commodo consequat</a>
                                    <p class="price">$33.50</p>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="product-box">
                                    <p><a href="product_detail.html"><img src="~/images/zenska6.jpg" alt="" /></a></p>
                                    <a href="product_detail.html" class="title">You think water</a><br />
                                    <a href="products.html" class="category">World once</a>
                                    <p class="price">$45.30</p>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="product-box">
                                    <p><a href="product_detail.html"><img src="~/images/zenska7.jpg" alt="" /></a></p>
                                    <a href="product_detail.html" class="title">Quis nostrud exerci</a><br />
                                    <a href="products.html" class="category">Quis nostrud</a>
                                    <p class="price">$25.20</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

