@model SizeInputVM
@{
    ViewData["Title"] = "AddSize";
}

<h1>Add size</h1>
<form action="AddSize" method="post">
    <div>
        <input asp-for="Name" type="text" placeholder="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button class="btn btn-warning">Add Size</button>
</form>

