
@{
    ViewData["Title"] = "AddSize";
}

<h1>Add size</h1>
<form action="AddSize" method="post">
    <div>
        <input type="text" name="Name" placeholder="Name" />

    </div>
    <button class="btn btn-warning">Add</button>
</form>

