
@{
    ViewData["Title"] = "AddSupplier";
}

<h1>Dodaj dobavljača</h1>
<form action="AddSupplier" method="post">
    <div>
        <input type="text" name="Name" placeholder="Naziv" />

    </div>
    <div>
        <input type="text" name="PhoneNumber" placeholder="Telefonski broj" />

    </div>
    <button>Dodaj</button>
</form>

