
@{
    ViewData["Title"] = "AddShipper";
}

<h1>Dodaj dostavljača</h1>
<form action="AddShipper" method="post">
    <div>
        <input type="text" name="Name" placeholder="Naziv" />

    </div>
    <div>
        <input type="text" name="PhoneNumber" placeholder="Telefonski broj" />

    </div>
    <button>Dodaj</button>
</form>


