
@{
    ViewData["Title"] = "AddSupplier";
}

<h1>Add Supplier</h1>
<form action="AddSupplier" method="post">
    <div>
        <input type="text" name="Name" placeholder="Name" />

    </div>
    <div>
        <input type="text" name="PhoneNumber" placeholder="Phone number" />

    </div>
    <button class="btn btn-warning">Add</button>
</form>

