
@{
    ViewData["Title"] = "AddSize";
}

<h1>Dodaj veličinu</h1>
<form action="AddSize" method="post">
    <div>
        <input type="text" name="Name" placeholder="Naziv" />

    </div>
    <button>Dodaj</button>
</form>

