
@{
    ViewData["Title"] = "AddShipper";
}

<h1>Add Shipper</h1>
<form action="AddShipper" method="post">
    <div>
        <input type="text" name="Name" placeholder="Name" />
        <span asp-validation-for="@Model."></span>
    </div>
    <div>
        <input type="text" name="PhoneNumber" placeholder="Phone number" />

    </div>
    <button class="btn btn-warning">Add</button>
</form>


