
@{
    ViewData["Title"] = "Index";
}


    <div class="container">

        <div class="Product">
            <h1>Product</h1>
            <a asp-controller="Home" asp-action="ProductList" class="btn btn-warning">Products</a>
        </div>

        <div class="Categories">
            <h1>Category</h1>
            <a asp-controller="Admin" asp-action="CategoryList" class="btn btn-warning">Categories</a>
        </div>

        <div class="Brand">
            <h1>Brand</h1>
            <a asp-controller="Admin" asp-action="BrandList" class="btn btn-warning">Brands</a>
        </div>

        <div class="Size">
            <h1>Size</h1>
            <button class="btn btn-warning" type="button" onclick="location.href='@Url.Action("SizeList","Admin")'">Sizes</button>
        </div>

        <div class="Shipper">
            <h1>Shipper</h1>
            <a asp-controller="Admin" asp-action="ShippersList" class="btn btn-warning">Shippers</a>
        </div>
        <div class="Supplier">
            <h1>Supplier</h1>
            <button class="btn btn-warning" type="button" onclick="location.href='@Url.Action("SuppliersList","Admin")'">Suppliers</button>
        </div>
        <div class="Order">
            <h1>Orders</h1>
            <a asp-controller="Admin" asp-action="OrderList" class="btn btn-warning">Orders</a>
        </div>
    </div> 






