@model Product

    <section class="main-content">
        <div class="row">
            <div class="span5">
                <h4 class="title"><span class="text"><strong>Delete Product</strong> Form</span></h4>

                <form asp-controller="Admin" asp-action="DeleteProduct" method="post">

                    <fieldset>
                        <div class="control-group">
                            <label asp-for="Name"></label>
                            <select asp-for="Id"
                                    class="form-control"
                                    asp-items="@(new SelectList(@ViewBag.ListofProducts,"Id", "Name"))">
                                <option value="">-- Select Product --</option>
                            </select>

                        </div>

                        <div class="actions"><input tabindex="9" class="btn btn-inverse large" type="submit" value="Submit"></div>
                    </fieldset>


                </form>


            </div>

        </div>
    </section>