@model Brand

<section class="main-content">
    <div class="row">
        <div class="span5">
            <h4 class="title"><span class="text"><strong>Delete Category</strong> Form</span></h4>

            <form asp-controller="Admin" asp-action="DeleteBrand" method="post">

                <fieldset>
                    <div class="control-group">
                        <label asp-for="Name"></label>
                        <select asp-for="Id"
                                class="form-control"
                                asp-items="@(new SelectList(@ViewBag.ListofBrands,"Id", "Name"))">
                            <option value="">-- Select Brand --</option>
                        </select>

                    </div>

                    <div class="actions"><input tabindex="9" class="btn btn-inverse large" type="submit" value="Submit"></div>
                </fieldset>


            </form>


        </div>

    </div>
</section>