@model List<Size>

<h1>Size List</h1>

<div class="control-group">

    <table class="table">
        <tr>
            <td>
                <p>
                    <a asp-controller="Admin" asp-action="AddSize" class="btn btn-warning">Add Size</a>
                </p>
            </td>
            <td>
                <p>
                    <a asp-controller="Admin" asp-action="AdminHomePage" class="btn btn-warning">Back</a>
                </p>
            </td>
        </tr>
    </table>

    <table class="table">

        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td><a class="btn btn-danger" asp-controller="Admin" asp-action="DeleteSize" asp-route-id="@item.Id">Delete</a></td>
                    <td><a class="btn btn-primary" asp-controller="Admin" asp-action="UpdateSize" asp-route-id="@item.Id">Edit</a></td>
                </tr>
            }
        </tbody>

    </table>

</div>