@model List<Supplier>

<h1>Suppliers List</h1>

<div class="control-group">
    <table class="table">
        <tr>
            <td>
                <p>
                    <a asp-controller="Admin" asp-action="AddSupplier" class="btn btn-warning">Add Supplier</a>
                </p>
            </td>
            <td>
                <p>
                    <a asp-controller="Admin" asp-action="AdminHomePage" class="btn btn-warning">Back</a>
                </p>
            </td>
        </tr>
    </table>
    <table class="table">

        <thead>
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.PhoneNumber</td>
                    <td><a class="btn btn-danger" asp-controller="Admin" asp-action="DeleteSupplier" asp-route-id="@item.Id">Delete</a></td>
                    <td><a class="btn btn-primary" asp-controller="Admin" asp-action="UpdateSupplier" asp-route-id="@item.Id">Edit</a></td>
                </tr>
            }
        </tbody>

    </table>

</div>
